//                                                                            
//  HEAD                                                                      
//                                                                            

// MODULES
@use "../../root"


//                                                                            
//  NAVBAR                                                                    
//                                                                            

// NAVBAR -> CONTAINER
$interface-left: 1vw
#interface-navbar
    +root.section(true, true, $width: 4vw)
    z-index: 1000
    position: fixed
    top: 0
    left: $interface-left
    transition: left root.$TIMER2 root.$CURVE2

// NAVBAR -> BAR
#navbar
    +root.section(true, true, $height: fit-content, $grow: false)
    +root.blurred()
    padding: root.$PADDING1 root.$PADDING2
    border: root.$BORDER1 solid root.$DARK
    border-radius: root.$RADIUS
    width: 100%

// NAVBAR -> BACK
#navbar-back
    display: none

// NAVBAR -> ICONS
.navbarIcon
    +root.cursor(click)
    box-sizing: border-box
    border: root.$BORDER1 solid transparent
    width: 100%
    height: fit-content
    border-radius: root.$RADIUS
    margin-bottom: root.$MARGIN
    transition: border-width root.$TIMER1 root.$CURVE1
    &:last-of-type
        margin-bottom: 0
    &:hover
        border-width: 0