//                                                                            
//  HEAD                                                                      
//                                                                            

// MODULES
@use "../../root"


//                                                                            
//  TOPBAR                                                                
//        

// TOPBAR -> TITLE
h1
    position: fixed
    top: 0vw
    left: 6vw
    transition: font-size root.$TIMER2 root.$CURVE1

// TOPBAR -> DESCRIPTION
#description
    opacity: 0
    position: fixed
    top: 2.25vw
    left: 6vw
    transition: opacity root.$TIMER2 root.$CURVE1