/*                                                                           */
/* HEAD                                                                      */
/*                                                                           */


// MODULES
@use "general" 



/*                                                                           */
/* FORM                                                                      */
/*                                                                           */


// FORM -> MAIN
$_main-navbar-width: 3.8* general.$U
$main-default-width: 100%

$main-width: calc($main-default-width - $_main-navbar-width)

#main 
    +general.section(true, false, $width: $main-width)


// FORM -> FORM
$form-width: 25 * general.$U
$form-height: fit-content
$form-grow: false
$form-margin: 0 0 2 * general.$U 0

#form 
    +general.section(true, true, $width: $form-width, $height: $form-height, $grow: $form-grow)
    margin: $form-margin


// FORM -> CHANGE
$change-style: underline
$change-cursor: pointer

#change
    text-decoration: $change-style
    cursor: $change-cursor