<[Unit]
Description=Abscissa FastAPI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/www/abscissa
ExecStart=/srv/www/abscissa/.venv/bin/python -m uvicorn API:app --host 127.0.0.1 --port 8000 --log-level info --reload
Restart=on-failure

[Install]
WantedBy=multi-user.target