//
//  HEAD                                                                      
//

// MODULES
@use "../../base/root"


//
//  POPUP
//

// POPUP -> NAMESPACE
#AppPopup
    +root.section(normal, normal, center, $width: 100vw, $height: 100vh)
    background-color: root.$BLURRED
    backdrop-filter: blur(1vw)
    position: fixed
    top: 0
    left: 0
    opacity: 0
    z-index: 2000
    transition: opacity root.$TIMER1 root.$CURVE1
    pointer-events: none
    > #Window
        +root.section(normal, normal, center, $width: 20vw, $height: fit-content, $grow: false)
        border: root.$BORDER1 solid root.$DARK
        background-color: root.$TOUCH
        margin-top: root.$MARGIN
        border-radius: root.$RADIUS + root.$PADDING1
        padding: root.$PADDING1
        > #Header
            +root.section(normal, flex-end, center, $direction: row, $height: 2vw, $grow: false)
            > #Close
                z-index: 2500
                justify-content: flex-end
        > #Header + div
            margin-top: -2.25vw
            +root.section(normal, normal, center, $height: fit-content, $grow: false)
        > #Auth
            > #Change
                width: 100%
            > #Title
                margin-top: 0
            > #Form
                margin-bottom: root.$MARGIN
                > #Agreement
                    text-align: center
                    display: flex
                    flex-wrap: wrap