//
//  HEAD                                                                      
//

// HEAD -> MODULES
@use "root"


//
//  FONTS
//

// FONTS -> COMIC SANS MS
@font-face
    font-family: 'comicSansMS'
    src: url('/public/fonts/comicSansMS.ttf') format('truetype')
    font:
        weight: normal
        style: normal
        display: block


//
//  DEFAULT
//

// DEFAULT -> MAIN CONSTRAINTS
$main-navbar-width-idle: 1vw
$main-topbar-height: 4.5vw
$main-tooltip-height: 1.25vw

// DEFAULT -> STYLES
:where(html)
    +root.cursor(default)
    background-color: root.$INVERTED
    :where(:not(.cm-editor, .cm-editor *))
        user-select: none
        -webkit-user-drag: none
    :where(:not(.katex-display, .katex-display *, .katex, .katex *, .cm-editor, .cm-editor *))
        +root.scrollbar()
        font-family: "comicSansMS", "Comic Sans MS", monospace
        font-size: root.$FONTSIZE
        color: root.$ACCENT
    :where(#Main)
        +root.section(normal, normal, center, $width: calc(100% - $main-navbar-width-idle), $height: calc(100% - $main-topbar-height - $main-tooltip-height))
        position: fixed
        top: $main-topbar-height
        right: 0
    :where(input)
        &[type="text"]
            +root.input(text)
        &[type="textarea"]
            +root.input(textarea, $inline: false)
        &[type="password"]
            +root.input(password)
        &[type="submit"]
            +root.input(button)
        &[type="email"]
            +root.input(email)
        &[type="button"]
            +root.input(button)
    :where(form)
        +root.section(normal, center, center, $grow: false, $height: fit-content)
        input
            width: 100%
        input:not(:first-of-type, :last-of-type)
            border-radius: 0
        input:first-of-type
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
        input:last-of-type
            border-top-left-radius: 0
            border-top-right-radius: 0
        input:not(:last-of-type)
            border-bottom-width: 0
    :where(p)
        font-size: root.$FONTSIZE
        margin: 0.6vw 0 0.3vw 0
        padding: 0
    :where(h4)
        font-size: 1.25 * root.$FONTSIZE
        margin: 0.7vw 0 0.35vw 0
        padding: 0
    :where(h3)
        font-size: 1.5 * root.$FONTSIZE
        margin: 0.8vw 0 0.4vw 0
        padding: 0
    :where(h2)
        font-size: 2 * root.$FONTSIZE
        margin: 0.9vw 0 0.45vw 0
        padding: 0
    :where(h1)
        font-size: 3 * root.$FONTSIZE
        margin: 1vw 0 0.5vw 0
        padding: 0
    :where(.newline)
        display: block
        height: root.$MARGIN
    :where(.katex-display, .katex)
        font-size: 1vw