//                                                                            
//  HEAD                                                                      
//                                                                            

// MODULES
@use "../../root"

//
//  TOOLTIP
//

// TOOLTIP -> CONTAINER
$interface-height: 2vw
$navbar-width-idle: 1vw
#interface-tooltip
    +root.section(normal, flex-end, center, $height: $interface-height, $direction: row, $width: calc(100vw - $navbar-width-idle))
    position: fixed
    bottom: 0
    right: 0
    justify-content: flex-end
    z-index: 3000

// TOOLTIP -> APPEARANCE
#interface-tooltip-text
    opacity: 0
    transition: opacity root.$TIMER2 root.$CURVE1
    margin-right: root.$MARGIN