//                                                                            
//  HEAD                                                                      
//                                                                            

// MODULES
@use "../../root"

//
//  TOOLTIP
//

// TOOLTIP -> APPEARANCE
#tooltip
    position: fixed
    bottom: 0
    right: 0.5vw
    opacity: 0
    transition: opacity root.$TIMER2 root.$CURVE1