//                                                                           
//  HEAD                                                                      
//                                                                           

// HEAD -> MODULES
@use "sass:math"
@use "sass:string"

// HEAD -> SUPERVARIABLES
$FONTSIZE: 1vw
$RADIUS: 1vw
$MARGIN: 0.8vw
$PADDING: 0.6vw
$BORDER1: 0.2vw
$BORDER2: 0.1vw
$DARK: #4d4da0
$LIGHT: #7f7fd2
$ACCENT: #FFFFFF
$INVERTED: #000000
$CONTRAST: #111111
$TIMER1: 0.1s
$TIMER2: 0.3s
$CURVE1: ease-in-out
$CURVE2: cubic-bezier(0.48, 0.19, 0.11, 1.7)


//                                                                           
//  FUNCTIONS                                                                 
//                                                                           

// FUNCTIONS -> CONTAINER
=section($align-horizontally, $align-vertically, $width: 100%, $height: 100%, $direction: column, $display: flex, $grow: true)
    box-sizing: border-box
    @if $grow
        flex: 1 0 auto
    @else
        flex: 0 0 auto
    display: $display
    height: $height
    width: $width
    @if $display == flex
        flex-direction: $direction
        @if $align-horizontally
            align-items: center
        @else
            align-items: stretch
        @if $align-vertically
            justify-content: center
        @else
            justify-content: flex-start

// FUNCTIONS -> ELEMENT
=element($inline)
    box-sizing: border-box
    margin: calc($MARGIN / 2)
    padding: calc($PADDING / 2)
    border-radius: $RADIUS
    @if $inline
        display: inline-block
    @else
        display: block

// FUNCTIONS -> INPUT
=input($type, $inline: true)
    padding: math.div($PADDING, 2) $PADDING
    border-radius: $RADIUS
    box-sizing: border-box
    border: $BORDER2 solid $ACCENT
    @if $inline
        display: inline-block
    @else
        display: block
    &:focus
        outline: none
    @if $type == button
        cursor: pointer
        background-color: #00000055
        min-width: fit-content
        height: 2.75vw
        transition: border-color $TIMER1 $CURVE1, background-color $TIMER1 $CURVE1, color $TIMER1 $CURVE1
        &:hover
            background-color: string.unquote($LIGHT + "55")
        &:active
            border-color: $LIGHT
            color: $LIGHT
    @if $type == textarea
        background-color: #000000
        font-family: monospace
        resize: none
        &::placeholder
            color: $ACCENT
            opacity: 0.5
    @if $type == text or $type == password or $type == email
        background-color: #000000
        font-family: monospace
        height: 2.75vw
        &::placeholder
            color: $ACCENT
            opacity: 0.5

// FUNCTIONS -> SCROLLBAR
=scrollbar() 
    scrollbar-width: none

// FUNCTIONS -> CURSOR
=cursor($type)
    @if $type == default
        cursor: url("/public/res/pointer.cur") 0 0, auto
    @if $type == click
        cursor: url("/public/res/link.cur") 0 0, pointer
    @if $type == text
        cursor: url("/public/res/text.cur") 0 0, text