//
//  HEAD
//

// HEAD -> MODULES
@use "../../base/root"


//
//  &DASHBOARD
//

// &DASHBOARD -> NAMESPACE
._dashboard
    +root.modifier(true, true, true)
    align-items: center
    > #Container
        +root.section(normal, normal, normal, $width: 50%, $grow: false, $height: fit-content)
        > h2
            margin-left: root.$MARGIN
            &:first-child
                margin-top: 0
        > .problem
            +root.section(normal, normal, normal, $grow: false, $height: 15vw)
            border-radius: root.$RADIUS + root.$PADDING2
            padding: root.$PADDING2
            margin-bottom: root.$MARGIN
            transition: opacity root.$TIMER2 root.$CURVE1, filter root.$TIMER2 root.$CURVE1
            &:hover
                +root.cursor(click)
                > #Wrapper
                    > #Title
                        text-decoration: underline
            &:last-child
                margin-bottom: 0
            &#Daily
                background: linear-gradient(to top right, root.$TOUCH, #112277)
            > #Wrapper
                +root.section(normal, normal, normal, $grow: false, $height: 100%)
                background-color: root.$BLURRED
                backdrop-filter: blur(1vw)
                border-radius: root.$RADIUS
                padding: root.$PADDING1
                > #Title
                    transition: text-decoration root.$TIMER2 root.$CURVE1
                    margin: 0
                > #Data
                    +root.section(normal, normal, normal, $grow: true, $direction: row, $height: 0)
                    > #Description
                        +root.section(normal, normal, normal, $grow: true, $direction: column, $width: 0)