# Enable mod_rewrite
RewriteEngine On

# Force HTTPS for every request
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# REDIRECT TO MAIN PAGE
RewriteCond %{HTTP_HOST} ^abscissa\.rf\.gd$ [NC]
RewriteRule ^$ /content/dashboard.php [L,R=302]

# LIMIT CACHING TO 24H
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 day"
</IfModule>

# SET ERROR PAGES
ErrorDocument 400 /content/error.php
ErrorDocument 401 /content/error.php
ErrorDocument 403 /content/error.php
ErrorDocument 404 /content/error.php
ErrorDocument 500 /content/error.php
ErrorDocument 503 /content/error.php