# Enable mod_rewrite
RewriteEngine On

# Force HTTPS for every request
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# REDIRECT TO MAIN PAGE
RewriteCond %{HTTP_HOST} ^abscissa\.rf\.gd$ [NC]
RewriteRule ^$ /html/search.html [L,R=302]